*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  scroll-behavior: smooth;

}




#wrapper{
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

.container{
  width: 1200px;
  margin: 0 auto;
  /* left aur right ka margin equal hona chahiye */
}

.heading{
  display: flex;
 justify-content: space-between;
  /*/horizontaly space ke liye align content  */
/* width: 100%;
height: 100px;
border: 0.2px solid rgb(199, 183, 183);
background-color: rgb(240, 246, 253); */

}

.navigation{
  display: flex;
  gap: 2rem;
  padding: 2rem;

}

.headingtext{
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:2rem;
}

.navigation div{
  font-size: 20px ;
  font-weight: 500;
  cursor: pointer;

  
}

.navigation div a{
  color:black;
  /* link ka color default blue hota hai usse black kiya hai humne */
}

a{
  text-decoration: none;
  /* link ki wjh se jo line aa rha tha usko humne hata diya */

}

.navigation div:hover{
  font-weight: bold;
  transition:2s;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;

}


.hero-section-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.hero-section-heading{
  font-size:  35px ;
  font-weight: 500;
  color: #667066;
}

.hero-section-subheading{
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description{
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.pink-button{

  width: 150px;
   background-color: #e71f2f;
   padding: 0.8rem 2.3rem;
   color: azure;
   font-size: 18px;
   box-shadow:5px 5px 7px 0px #0000003f ;
   position: relative;
   z-index: 1;
  
  }
  
  
  .pink-button::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
  }
  
  .pink-button:hover::before{
    transform:scaleX(1) ;
   
  }

  .hero-section-right img {
    height: 400px;
    width: 300px;
  }

  .zainpic{
    filter: grayscale(1);
    /* for adding filter */
    animation: scaling 5s linear infinite ;
    padding: 2.5rem;
    transition: all 1s;
  }

  @keyframes scaling {
    0%{
    
     filter: grayscale(1);
    
     
      
    }
    50%{

      filter: grayscale(0);
      transform: scale(1.1);
    

    }

     100%{
      filter: grayscale(1);
      transform: scale(1);
      box-shadow: 3px 3px 3px black;
     }


  }











  .container2{
    width: 100%;
    height: 400px;
    border: 2px solid black;
  
  }

  .heading2{
    display: flex;
    justify-content: space-around;
  }
  .navigation-link2{
    display: flex;
    gap: 10px;
  }

  .project-section{
    background-color: rgb(231 231 231 );
    margin-top: 4rem;

  }
.page-header{

  font-size: 90px;
  text-align: center;
  padding: 30px;
  color: #af1623;
}

.project-container{
max-width: 1200px;
margin: 0 auto;
padding: 3rem 0;

}

.project-card{

  width: 90%;
  align-items: center;
  height: 550px;
  background-image: url(Education-hub-\ pic.webp);
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}


.project-card::before{
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  transform: scaleX(0);
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform-origin:left ;
  transition: all 0.4s;
  z-index: 1;
 
}
.project-card:hover::before{
  transform: scale(1);
}

.project-number{
  font-size: 200px;
  position: absolute;
  color: white;
  z-index: 3;

}

.project-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 10%;
  z-index: 15;
  gap: 1em;
  transition: all 0.4s;
  left: 10%;

}

.project-subheading{
  width: 60%;
  font-size: 16px;
  font-style: italic;
}
.project-skill-container{
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-skill{
  width: 40px;
}
.project-heading{
  font-size: 50px;
  font-weight: bold;
  line-height:3rem;
}